menu "ADC Configuration"
    config INIT_SAMPLE_RATE
        int "Sample Rate"
        default 44100
        help
            Set the sample rate frequency.
            Oversample rate usually can be 2048000 or 5644800 Hz if only raw PDM data format supported.
endmenu
